<div class="jumbotron">
    <h1>CRUD Practice</h1>
    <p>Try out various ways of doing CRUD in ember.  Experiment with the latest thinking in idomatic Ember!</p>
</div>

{{#link-to 'account'}}
  View Accounts
{{/link-to}}